#special{
    margin-top: 40px;
}

.pccont{
    width: 100%;
    height: calc(100% - 100px);
    position: absolute;
    top:100px;
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentcontainer{
    width: 100%;
    height: auto;


    box-sizing: border-box;
    
    display: flex;
    justify-content: space-between;
}

.containertest{
    height:auto;
    width: 100%;

    text-align: center;
    box-sizing: border-box;

    flex-direction: column;
}
#local{
    background-color:lightsteelblue;
    padding: 20px;
}

#global{
    background-color:steelblue;
    padding: 20px;
}
#magichead{
    display: none;
    margin-top: 20px;
    font-size: 3vw;
}

.cardcont{
    width: 50vw;
    height: 200px;


    margin: 20px;
    
    display: flex;
    align-items: center;

    
}

.piccont{
    width: 100px;
    height: 100px;


}

.textcont{
    width: calc(50vw - 200px);

    height: 200px;
    background-color: rgba(119, 136, 153, 0.712);
    text-align: center;
    padding: 10px;
}

#reverse{
    flex-direction: row-reverse;

}

@media(max-width: 833px){
    #magichead{
        display: block;
    }

    .pccont{
        visibility: hidden;
    }
}